  
name: CI
on:
  pull_request: {}
  push:
    branches: [main]

jobs:
  main:
    name: Build, Validate, and Publish
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: w3c/spec-prod@v2
        with:
          SOURCE: spec/index.bs
          TOOLCHAIN: bikeshed
          GH_PAGES_BRANCH: gh-pages
          BUILD_FAIL_ON: nothing